.loading {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  background-color: @red;
  float: left;

  .border-radius(100%);
  .animation(scaleout, 1.0s, infinite, ease-in-out);
}

&:hover .loading {
  background-color: @whiter;
}

.check {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  background-color: @blue;
  color: @whiter;
  float: left;
  line-height: 30px;
  text-align: center;

  .border-radius(100%);
  .animation(scaleout, 1.0s, infinite, ease-in-out);
}

&:hover .check {
  color: @blue;
  background-color: @whiter;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.button-text-wrapper {
  position: relative;
  margin-left: 35px;

  .button-text {
    .transition(.1s linear all);
  }

  .queueing {
    .opacity(1);
  }
  .cancel {
    position: absolute;
    top: 0;
    left: 0;
    .opacity(0);
  }
}

&:hover .queueing {
  .opacity(0);
}

&:hover .cancel {
  .opacity(1);
}

&.queue:hover, &.dodge:hover {
  background-color: @red;
  color: @whiter;
}

&.confirm {
  color: @blue;
}
&.confirm:hover {
  background-color: @blue;
  color: @whiter;
}

&.text:hover {
  background-color: @whiter;
  cursor: default;
}

&.confirmed {
  color: @blue;
  &:hover {
    background-color: @whiter;
    cursor: default;

    .check {
      color: @white;
      background-color: @blue;
    }
  }
}
